<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/tailwind.min.css}" />
    <script th:src="@{/js/flowbite.min.js}" defer></script>
    <title>Spaces | Meridio</title>
</head>
<body>
    <div id="meridio-app">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        <div id="main-content" class="p-4">
            <h2>Spaces List</h2>
            <ul class="grid grid-cols-4 gap-2">
                <li class="mx-auto my-2" th:each="space : ${spaces}">
                    <div class="space-square rounded-lg bg-gray-300 w-48 h-48">
                        <a th:href="@{/spaces/{spaceId}(spaceId=${space.getId()})}">
                            <div class="space-options" th:id="${'space-dropdown-button-' + space.getId()}" th:data-dropdown-toggle="${'space-dropdown-' + space.getId()}" th:if="${space.getProfile().getUsername() == current_user.getUsername()}">
                                <div th:id="${'space-dropdown-' + space.getId()}" class="z-10 hidden bg-white rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" th:aria-labelledby="${'space-dropdown-button-' + space.getId()}">
                                        <li>
                                            <a href="?rename" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Rename Space</a>
                                        </li>
                                        <li>
                                            <p th:attr="data-space-id=${space.getId()}" data-modal-target="deleteModal" data-modal-toggle="deleteModal" class="delete-space-btn block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Delete Space</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-xs">[[${space.getTitle()}]]</span>
                        <span class="text-xs">Created by [[${space.getProfile().getUsername()}]]</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- DELETE MODAL -->
    <div id="deleteModal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="deleteModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                <div class="p-6 text-center">
                    <svg class="mx-auto mb-4 text-gray-400 w-10 h-10 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                    <h3 class="mb-1 text-md font-normal text-gray-500 dark:text-gray-400">Delete a space destroy all is content !</h3>
                    <h3 class="mb-5 text-md font-normal text-gray-500 dark:text-gray-400">Nobody will be able to retrieve it, are you sure ?</h3>
                    <div class="flex justify-around">
                        <form class="space-form-modal" method="POST">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <input type="submit" value="Yes, I'm sure" data-modal-hide="deleteModal" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                        </form>
                        <button data-modal-hide="deleteModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No, cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const openModalButtons = document.querySelectorAll('.delete-space-btn');
        const deleteForm = document.querySelector('.space-form-modal');

        openModalButtons.forEach(button => {
            button.addEventListener('click', () => {
                const spaceId = button.getAttribute('data-space-id');
                deleteForm.action = `/spaces/${spaceId}/delete`;
                console.log(deleteForm);
            });
        });
    </script>
</body>
</html>
