<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/tailwind.min.css}" />
    <script th:src="@{/js/flowbite.min.js}" defer></script>
    <title>Space | Meridio</title>
</head>
<body>
    <div id="meridio-app">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        <div id="main-content">
            <h2>Space Details</h2>
            
        </div>
    </div>
</body>
</html>