<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/tailwind.min.css}" />
    <script th:src="@{/js/flowbite.min.js}" defer></script>
    <title>Spaces | Meridio</title>
</head>
<body>
    <div id="meridio-app">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        <div id="main-content" class="p-4">
            <h2>Spaces List</h2>
            <ul>
                <li th:each="space : ${spaces}">
                    <span>[[${space.getTitle()}]] by [[${space.getProfile().getUsername()}]]</span>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
