<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/tailwind.min.css}" />
    <script th:src="@{/js/flowbite.min.js}" defer></script>
    <title>Spaces | Meridio</title>
</head>
<body>
    <div id="meridio-app">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        <div id="main-content" class="p-4">
            <h2>Spaces List</h2>
            <ul class="grid grid-cols-4 gap-2">
                <li class="mx-auto my-2" th:each="space : ${spaces}">
                    <div class="space-square rounded-lg bg-gray-300 w-48 h-48">
                        <a th:href="@{/spaces/{spaceId}(spaceId=${space.getId()})}">
                            <div class="space-options" th:id="${'space-dropdown-button-' + space.getId()}" th:data-dropdown-toggle="${'space-dropdown-' + space.getId()}" th:if="${space.getProfile().getUsername() == current_user.getUsername()}">
                                <div th:id="${'space-dropdown-' + space.getId()}" class="z-10 hidden bg-white rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" th:aria-labelledby="${'space-dropdown-button-' + space.getId()}">
                                        <li>
                                            <a href="?rename" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Rename Space</a>
                                        </li>
                                        <li>
                                            <p 
                                                th:attr="data-space-id=${space.getId()}" 
                                                data-modal-target="deleteModal" 
                                                data-modal-toggle="deleteModal" 
                                                class="delete-space-btn block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                            >
                                                Delete Space
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-xs">[[${space.getTitle()}]]</span>
                        <span class="text-xs">Created by [[${space.getProfile().getUsername()}]]</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- DELETE MODAL -->
    <div th:replace="~{fragments/delete_modal :: delete-modal}"></div>
</body>
</html>
