<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="navbar-content" th:fragment="navbar">
        <div class="navbar-child flex justify-between items-center px-6 border-b">
            <h4>MERIDIO</h4>
            <ul class="flex">
                <li class="px-2" th:classappend="${activePage == 'index' ? 'font-bold text-blue-500' : ''}"><a th:href="@{/}">Home</a></li>
                <li class="px-2" th:classappend="${activePage == 'space_new' ? 'font-bold text-blue-500' : ''}"><a th:href="@{/spaces/new}">New Space</a></li>
                <li class="px-2">
                    <button id="navbar-dropdown-button" data-dropdown-toggle="navbar-dropdown" class="bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-1 py-1 text-center inline-flex items-center" type="button">
                        <?xml version="1.0" encoding="utf-8"?>
                        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 18L20 18" stroke="#ffffff" stroke-width="2" stroke-linecap="round"/>
                        <path d="M4 12L20 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round"/>
                        <path d="M4 6L20 6" stroke="#ffffff" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </button>
    
                    <!-- Dropdown menu -->
                    <div id="navbar-dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
                        <div class="px-4 py-3 text-sm text-gray-900">
                        <div>[[${current_user.getUsername()}]]</div>
                        <div class="font-medium truncate">[[${current_user.getEmail()}]]</div>
                        </div>
                        <ul class="py-2 text-sm text-gray-700" aria-labelledby="navbar-dropdown-button">
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100">Dashboard</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100">Settings</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100">Earnings</a>
                        </li>
                        </ul>
                        <div class="py-2">
                        <a th:href="@{/auth/logout}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Sign out</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>