<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="sidebar-content" th:fragment="sidebar">
        <div class="sidebar-child border-r bg-neutral-300">
            <ul class="flex flex-col p-4">
                <li><a th:href="@{/spaces}">Spaces</a></li>
                <li>Friends</li>
                <li>Subscriptions</li>
                <li>Settings</li>
                <li>Legals</li>
            </ul>
        </div>
    </div>
</body>
</html>