*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#meridio-app {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav nav nav"
        "sid man man";
    grid-template-rows: 1fr 11fr;
    grid-template-columns: 2fr 10fr;
}

#navbar-content {
    grid-area: nav;
}

#sidebar-content {
    grid-area: sid;
    
}

#main-content {
    grid-area: man;
    overflow-y: scroll;
    
}

.navbar-child {
    height: 100%;
}

.sidebar-child {
    height: 100%;
}

/* NAVBAR */

/* SIDEBAR */
.sidebar-child > ul {
    height: 100%;
}

.sidebar-child > ul > li {
    margin: 6px 0;
    padding: 8px 6px;
    cursor: pointer;
}

.sidebar-child > ul > li:hover {
    background-color: #f3f4f6;
}

.active-link {
    background-color: #3b82f6;
    color: white;
    font-weight: bold;
}

.active-link:hover {
    background-color: #3b82f6 !important; 
    color: white;
}

/* MAIN */
.space-square {
    position: relative;
}

.space-square > a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.space-options {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: #f0f0f0;
    padding: 12px;
    border: 1px solid #ccc;
    z-index: 1;
}

.space-options p {
    cursor: pointer;
}

.space-square:hover .space-options {
    display: block;
}