<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/tailwind.min.css}" />
    <script th:src="@{/js/flowbite.min.js}" defer></script>
    <title>Home | Meridio</title>
</head>
<body>
    <div id="meridio-app" th:object="${current_user}">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        <div id="main-content" class="px-4">
            <span th:if="${errorMsg}" class="mb-2 font-bold text-red-500" th:text="${errorMsg}"></span>
            <form th:action="@{/spaces/{spaceId}/file/new(spaceId=${spaceId})}" enctype="multipart/form-data" method="POST">
                <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->

                <label class="block mb-2 text-sm font-medium text-gray-900" for="file_input">Upload file</label>
                <input class="block text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none" aria-describedby="file_input_help" id="file_input" name="file" type="file">
                <span class="mt-1 text-xs text-gray-500" id="file_input_help">SVG, PNG, JPG, TXT (MAX. 2Mo).</span>

                <button type="submit" class="text-white font-bold bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>