<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/tailwind.min.css}" />
    <title>Registration | Meridio</title>
</head>
<body>
    
    <div class="container mx-auto mt-20 w-full max-w-xs">
        <h2 class="text-xl py-4 font-bold text-blue-500">Registration</h2>
        <form class="shadow-md rounded px-8 pt-6 pb-8 mb-4" th:action="@{/auth/register}" th:object="${profile}" method="post">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline invalid:text-pink-600
                    focus:invalid:border-pink-500 focus:invalid:ring-pink-500"
                    type="text" id="username" name="username" th:field="*{username}" 
                />
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline invalid:text-pink-600
                    focus:invalid:border-pink-500 focus:invalid:ring-pink-500"
                    type="text" id="email" name="email" th:field="*{email}" 
                />
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline invalid:text-pink-600
                    focus:invalid:border-pink-500 focus:invalid:ring-pink-500"
                    type="password" id="password" name="password" th:field="*{password}" 
                />
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
            <div class="flex flex-col">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                  Register
                </button>
                <span class="mt-4 text-xs">Already have an account ? <a class="font-bold text-xs text-blue-500 hover:text-blue-800" th:href="@{/auth/login}">
                    Log in
                  </a> now !
                </span>
            </div>
        </form>
    </div>
</body>
</html>